<div class="addressBoxContainer container">
    <div class="titleContainer">
        <div class="titleLeft">&nbsp;</div>
        <div class="titleCenter">
            <div class="titleText">Contacts</div>
        </div>
        <div class="titleRight">&nbsp;</div>
        <div class="clearOnly"></div>
    </div>
    <div class="addressBox">
        <div class="addressPhone"><div class="phoneLabel">T:</div>+41 (0) 22 368 00 41</div>
        <div class="addressFax"><div class="faxLabel">F:</div>+41 (0) 22 368 00 28</div>
        <div class="addressEmail"><div class="emailLabel">@:</div>info@tchouk.com</div>
    </div>
    <div class="addressBox">
        <div class="addressName">Tchoukball Promotion</div>
        <div class="addressStreet">3, avenue Edmond Vaucher</div>
        <div class="addressCity">1219 Châtelaine, Suisse</div>
    </div>
    <div class="addressBox">
        <div class="addressName">Tchoukball Promotion Europe</div>
        <div class="addressStreet">606, chemin des Hautins</div>
        <div class="addressCity">01280 Prévessin Moens, France</div>
    </div>
</div>