  <div id="header">
    <div id="headerWrap">
      <div id="languageMenu">
        <ul>
          <li class="active"><a href="http://tchouk.com/index.php?id=2&amp;_pp=0_304_127_-1&amp;L=0" title="Afficher cette page en français" xml:lang="fr" lang="fr">FR</a></li>
          <li class="inactive"><a href="http://tchouk.com/index.php?id=2&amp;_pp=0_304_127_-1&amp;L=2" title="Show this page in German" xml:lang="de" lang="de">DE</a></li>
          <li class="inactive"><a href="http://tchouk.com/index.php?id=2&amp;_pp=0_304_127_-1&amp;L=1" title="Show this page in English" xml:lang="en" lang="en">EN</a></li>
          <li class="inactive"><a href="http://tchouk.com/index.php?id=2&amp;_pp=0_304_127_-1&amp;L=3" title="Show this page in Italian" xml:lang="it" lang="it">IT</a></li>
        </ul>
      </div>
      <div id="bannerLogo">
        <div id="c30" class="csc-default">
          <div class="csc-textpic csc-textpic-center csc-textpic-above">
            <div class="csc-textpic-imagewrap csc-textpic-single-image" style="width:278px;">
              <a href="http://tchouk.com/index.php?id=1" title="Tchoukball Promotion">
                <img src="images/logo_fr.png" alt="Tchoukball Promotion" border="0" height="92" width="278">
              </a>
            </div>
          </div>
          <div class="csc-textpic-clear"><!-- --></div>
        </div>
      </div>
      <div id="bannerText">
        <div id="c28" class="csc-default">
          <div class="csc-textpic csc-textpic-center csc-textpic-above">
            <div class="csc-textpic-imagewrap csc-textpic-single-image" style="width:230px;">
              <img src="images/bannerText_fr.png" alt="Faisons tchouker le monde!" title="Faisons tchouker le monde!" border="0" height="135" width="230">
            </div>
          </div>
          <div class="csc-textpic-clear"><!-- --></div>
        </div>
      </div>
      <div class="clear"></div>
      <div id="globalMenu">
        <ul>
          <li class="active last">
            <a routerLink="/" routerLinkActive="active">
              <div class="pageTitleLeft">&nbsp;</div>
              <div class="pageTitleCenter">
                <div class="pageTitleText">Shop</div>
              </div>
              <div class="pageTitleRight">&nbsp;</div>
            </a>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
<div id="pageWrap">
    <!--
    <nav>
        <a routerLink="/conditions" routerLinkActive="active">Conditions</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav>
    -->
    <router-outlet></router-outlet>
</div>
<!-- end #pageWrap  -->
<div class="clearOnly">&nbsp;</div>
<div id="footerWrap">
    <div id="footer">
        <div id="footerCopyright">&copy;&nbsp;Tchoukball&nbsp;Promotion</div>
        &nbsp;-&nbsp;
        <a routerLink="/conditions" routerLinkActive="active">Conditions g&eacute;n&eacute;rales de vente</a>
        &nbsp;-&nbsp;
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
</div>