<div id="pageContainer" class="container containerWithTitle">
    <div class="titleContainer">
        <div class="titleLeft">&nbsp;</div>
        <div class="titleCenter">
            <div class="titleText">Contact</div>
        </div>
        <div class="titleRight">&nbsp;</div>
        <div class="clearOnly"></div>
    </div>
    <p>
        <b>Tchoukball Promotion<br/>3 Av. Edmond Vaucher<br/>1219 Châtelaine, Switzerland</b>
    </p>
    <p>
        <b>Tchoukball Promotion Eurl<br/>606 chemin des Hautins<br/>01280 Prévessin Moens<br/>France</b>
    </p>
    <p>
        <b>T. +41 (0) 22 368 00 41<br/>F. +41 (0) 22 368 00 28<br/>E. <a href="mailto:info@tchouk.com">info@tchouk.com</a></b>
    </p>
    <p>
        <b>Tchoukball Promotion sell their products mostly in Europe. All information and communication material can be
            delivered worldwide. </b>
    </p>
</div>