<div id="col-left">
    <div id="categoryMenuContainer" class="container containerWithTitle">
        <div class="titleContainer">
            <div class="titleLeft">&nbsp;</div>
            <div class="titleCenter">
                <div class="titleText">Shop</div>
            </div>
            <div class="titleRight">&nbsp;</div>
            <div class="clearOnly"></div>
        </div>
        <div id="categoryMenu">
            <ul>
                <li *ngFor="let category of categories" (click)="onSelect(category)"
                        [class.selected]="category === selectedCategory">
                    <span>{{category.title.name}}</span>
                    <ul *ngIf="selectedCategory && category.sub_categories && (category.id === selectedCategory.id || category.id === selectedCategory.parent_id)">
                        <li *ngFor="let subCategory of category.sub_categories" (click)="onSelect(subCategory); $event.stopPropagation();"
                                [class.selected]="subCategory === selectedCategory">
                            <span>{{subCategory.title.name}}</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearOnly">&nbsp;</div>
</div>
<div id="col-center">
    <div class="shopContainer container">
    
        <div *ngFor="let categoryElement of categoryElements" class="categoryItem" (click)="onSelect(categoryElement)">
            <div class="categoryImg">
                <img title="{{categoryElement.title.name}}-({{categoryElement.id}})"
                        alt="Cadres de tchoukball"
                        src="categoryImages/{{categoryElement.title.image_filename}}"
                        onError="this.onerror=null;this.src='categoryImages/noCategoryImage.jpg';"
                        width="100px" />
            </div>
            <div class="categoryTitle">
                <div class="categoryName">{{categoryElement.title.name}}</div>
                <div class="numberOfProd">(XX Produits)</div>
            </div>
        </div>
        
        <div *ngFor="let productElement of productElements" class="productItem" style="height: 334px;">
            <div class="productImg">
                <img width="100" src="productImages/{{productElement.code}}_photoppale.jpg" 
                        alt="{{productElement.title.title}}" 
                        title="{{productElement.title.title}}">
            </div>
            <div class="productInfo">
                <div class="productTitle">{{productElement.title.title}}</div>
                Réf: <div class="productCode">{{productElement.code}}</div>
                <div class="productDescription">{{productElement.title.small_description | slice:0:50}}</div>
            </div>

            <div class="productAction">
                <div class="productPrice"> X.xx chf </div>
            </div>
        </div>
        
        <div class="clearOnly">&nbsp;</div>
    </div>
    <div class="clearOnly">&nbsp;</div>
</div>
<div id="col-right">
    <address></address>
    <div class="clearOnly">&nbsp;</div>
</div>