<div id="col-left">
    <div id="categoryMenuContainer" class="container containerWithTitle">
        <div class="titleContainer">
            <div class="titleLeft">&nbsp;</div>
            <div class="titleCenter">
                <div class="titleText">Shop</div>
            </div>
            <div class="titleRight">&nbsp;</div>
            <div class="clearOnly"></div>
        </div>
        <div id="categoryMenu">
            <ul>
                <li *ngFor="let category of categories" (click)="onSelect(category)" [class.selected]="category === selectedCategory">
                    <span>{{category.title.name}}</span>
                </li>
                <!--
                <li><a href="#!/view1">Liquidation</a></li>
                <li><a href="#!/view2">Cadres de tchoukball</a></li>
                <li><a href="">Ballons de tchoukball</a></li>
                <li><a href="">Equipement pour le tchoukball </a></li>
                <li><a href="">Genouillères et coudières </a></li>
                <li><a href="">DVDs, livres, brochures</a></li>
                <li><a href="">Articles de sport</a></li>
                <li><a href="">Soins, arbitres, supporters</a></li>
                <li><a href="">Shop Clubs et  Fédération</a></li>
                <li><a href="">Pièces de rechange </a></li>
                <li><a href="">Textile</a></li>
                <li><a href="">Liquidation</a></li>
                -->
            </ul>
        </div>
    </div>
    <div class="clearOnly">&nbsp;</div>
</div>
<div id="col-center">
    <div class="container">
        <div *ngIf="selectedCategory">
            <h1 style="text-align: center">{{selectedCategory.title.name}}</h1>
        </div>
    </div>
    <div class="clearOnly">&nbsp;</div>
</div>
<div id="col-right">
    <address></address>
    <div class="clearOnly">&nbsp;</div>
</div>