
.clearOnly {
    clear: both;
}
.container {
    background-color: #d6d6d6;
    border: 1px solid #f07b0e;
    color: #575656;
    margin-top: 10px;
}
.containerWithHeader .titleContainer {
    float: left;
    width: 100%;
}
.titleLeft {
    background-image: url("images/titleLeft.png");
    background-position: right center;
    background-repeat: no-repeat;
    float: left;
    height: 38px;
    padding-left: 20px;
    width: 30px;
}
.titleCenter {
    background-image: url("images/titleCenter.png");
    background-position: right center;
    float: left;
    height: 38px;
}
.titleRight {
    background-image: url("images/titleRight.png");
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
    height: 38px;
    width: 40px;
}
.titleText {
    color: #ffffff;
    font-size: 18px;
    font-style: italic;
    padding: 5px 10px 0;
}
.subTitle {
    color: #f07b0e;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 2px;
}
.link {
    color: #ffffff;
}
.linkActive, .link:active {
    color: #f07b0e;
    font-weight: bold;
}
.link:hover {
    color: #f07b0e;
    font-weight: bold;
}
.container .titleContainer {
    padding-left: 30px;
    position: absolute;
    top: 10px;
    z-index: 100;
}
.container .titleLeft {
    background-image: url("images/titleLeft_big.png");
    height: 82px;
    width: 42px;
}
.container .titleCenter {
    background-image: url("images/titleCenter_big.png");
    height: 82px;
}
.container .titleRight {
    background-image: url("images/titleRight_big.png");
    height: 82px;
    width: 88px;
}
.container .titleText {
    padding: 0;
}
.container .titleText a {
    color: #ffffff;
    display: block;
    font-size: 34px;
    font-style: italic;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
.container .titleText a:hover {
    color: #464545;
}
#conditionsContainer {
    padding-bottom: 10px;
    padding-top: 80px;
    padding-left: 20px;
}
#conditionsContainer ul {
    list-style-type: none;
    margin-left: 20px;
}
#categoryMenu ul li {
    padding-left: 10px;
}
#categoryMenu ul ul li {
    padding-left: 20px;
}
#categoryMenu ul ul ul li {
    padding-left: 30px;
}
#categoryMenu ul ul ul ul li {
    padding-left: 40px;
}
#categoryMenuContainer {
    border-radius: 10px 0 0;
}
#categoryMenu {
    padding-bottom: 10px;
    padding-top: 80px;
}
#categoryMenu ul {
    list-style-type: none;
    margin-left: 0;
}
#categoryMenu li {
    border-top: 1px solid #575656;
    padding-bottom: 2px;
    padding-top: 2px;
}
#categoryMenu li a {
    color: #575656;
}
#categoryMenu li.selected a {
    color: #f07b0e;
    font-weight: bold;
}
#categoryMenu li.active a {
    color: #f07b0e;
    font-weight: bold;
}
#categoryMenu li:hover {
}
#categoryMenu li:hover a {
    color: #f07b0e;
    font-weight: bold;
}
.categoryItem {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #ffffff 0%, #ffffff 60%, #cccccc 100%) repeat scroll 0 0;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #888888;
    float: left;
    height: 170px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 167px;
}
.categoryimages {
    padding-bottom: 10px;
    padding-top: 10px;
}
.categoryTitle .categoryName {
    color: #575656;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.categoryTitle .numberOfProd {
    color: #575656;
    font-size: 10px;
    text-decoration: none;
}
.shopContainer {
    padding-bottom: 3px;
    padding-left: 3px;
    padding-top: 3px;
}
.productItem {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #ffffff 0%, #ffffff 60%, #cccccc 100%) repeat scroll 0 0;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #888888;
    float: left;
    margin: 5px;
    padding: 5px;
    position: relative;
    width: 167px;
}
.shopContainer > .productItem:nth-child(3n+1) {
    clear: both;
}
.productItem .productimages {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}
.productItem .productimages images {
    vertical-align: middle;
}
.productItem .productInfo {
}
.productItem a {
    color: #575656;
    font-weight: inherit;
    text-decoration: none;
}
.productItem .productInfo .productTitle {
    font-size: 14px;
    font-weight: bold;
}
.productItem a:hover .productTitle, .productItem a:active .productTitle {
    color: #f07b0e;
}
.productItem .productInfo .productCode {
    display: inline;
    font-size: 10px;
}
.productItem .productInfo .productDescription {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 10px;
    word-wrap: break-word;
}
.productItem .productVariant {
    padding-bottom: 60px;
}
.productItem .productVariant ul {
    list-style-type: none;
}
.productItem .productVariant ul li {
    border: 1px solid #575656;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
    display: inline-block;
    font-size: 10px;
    margin: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
.productItem .productVariant ul li a {
    color: #000000;
}
.productItem .productVariant ul li.available:hover {
    background-color: #f07b0e;
    border-color: #f07b0e;
}
.productItem .productVariant ul li.available:hover a {
    color: #000000;
}
.productItem .productVariant ul li.active {
    background-color: #f07b0e;
    border-color: #f07b0e;
}
.productItem .productVariant ul li.active a {
    color: #000000;
}
.productItem .productVariant ul li.disabledLink {
    border-color: #999999;
}
.productItem .productVariant ul li.disabledLink a {
    color: #999999;
}
.productItem .productPrice {
    color: #f07b0e;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: left;
    vertical-align: 100%;
}
.productItem .productAction {
    bottom: 0;
    position: absolute;
    text-align: right;
    width: inherit;
}
.productItem .productAction .productBuy {
    display: none;
    padding-bottom: 10px;
    padding-left: 10px;
}
.productDetail {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #cccccc 0%, #ffffff 60%, #ffffff 100%) repeat scroll 0 0;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #888888;
    margin: 20px;
    padding: 10px;
}
.productDetail .productTitle {
    color: #f07b0e;
    font-size: 18px;
    font-weight: bold;
    padding-left: 40px;
}
.productDetail .productCode {
    font-size: 10px;
    padding-left: 30px;
}
.productDetail .productDescription {
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: justify;
    white-space: pre-wrap;
}
.productDetail .productimages {
    float: left;
    margin-top: 10px;
    padding-left: 10px;
}
.productDetail .productimages images {
    vertical-align: top;
}
.productDetail .productPrices {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #ffffff 0%, #ffffff 60%, #cccccc 100%) repeat scroll 0 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
    float: right;
    margin-top: 10px;
    padding: 10px;
    width: 50%;
}
.productDetail .productVariant {
}
.productDetail .productVariant ul {
    list-style-type: none;
}
.productDetail .productVariant ul li {
    border: 1px solid #575656;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
    display: inline-block;
    font-size: 10px;
    margin: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
.productDetail .productVariant ul li a {
    color: #000000;
}
.productDetail .productVariant ul li.available:hover {
    background-color: #f07b0e;
    border-color: #f07b0e;
}
.productDetail .productVariant ul li.available:hover a {
    color: #000000;
}
.productDetail .productVariant ul li.active {
    background-color: #f07b0e;
    border-color: #f07b0e;
}
.productDetail .productVariant ul li.active a {
    color: #000000;
}
.productDetail .productVariant ul li.disabledLink {
    border-color: #999999;
}
.productDetail .productVariant ul li.disabledLink a {
    color: #999999;
}
.productDetail .productPrices .productPrice {
    color: #f07b0e;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 20px;
}
.productDetail .productPrices .productBuy {
    display: none;
    float: right;
    margin-right: 20px;
    text-align: right;
}
.smallCartContainer {
    border-radius: 0 10px 0 0;
}
.smallCartTop {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #919191, #646464) repeat scroll 0 0;
    border-bottom: 1px solid #000000;
    border-radius: 0 10px 0 0;
    font-size: 10px;
    height: 60px;
}
.smallCartTop .title {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.smallCartTop .totalNbPosition {
    color: #ffffff;
    font-size: 10px;
    text-align: center;
}
.smallCartPositions {
    height: 188px;
    overflow: auto;
}
.smallCartPosition {
    border-bottom: 1px solid #000000;
}
.smallCartPosition .positionAction {
    float: left;
    text-align: center;
    width: 65px;
}
.smallCartPosition .positionAction .quantityContainer {
    padding: 5px 0;
}
.smallCartPosition .positionAction .quantity {
    background-color: #ffffff;
    border: 1px solid #f07b0e;
    color: #000000;
    display: inline;
    margin-left: 1px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 3px;
}
.smallCartPosition .positionAction .delete {
    padding: 5px;
}
.smallCartPosition .positionDetail {
    float: left;
    width: 65%;
}
.smallCartPosition .positionDetail .positionTitle {
    font-size: 12px;
}
.smallCartPosition .positionDetail .positionCode {
    font-size: 8px;
}
.smallCartPosition .positionDetail .positionPrice {
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
}
.smallCartBottom {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #919191, #646464) repeat scroll 0 0;
    height: 65px;
}
.smallCartBottom .totalCart {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}
.smallCartBottom .actionButton a {
    width: 80%;
}
.cart {
    background-color: #575656;
    border: 1px solid #f07b0e;
    border-radius: 0 10px 0 0;
}
.cartTop {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #919191, #646464) repeat scroll 0 0;
    border-bottom: 1px solid #000000;
    border-radius: 0 10px 0 0;
    font-size: 10px;
    height: 130px;
}
.cartTop .title {
}
.cartTop .cartFlow {
}
.cartTop .cartFlow .flowStep {
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 17%;
}
.cartTop .cartFlow .flowStep a {
    color: #f07b0e;
}
.cartTop .cartFlow .flowStep .stepNumber, .cartTop .cartFlow .flowStep .stepTitle {
}
.cartTop .cartFlow .flowStep .stepimages {
}
.cartPositions {
}
.cartPosition {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #919191, #646464) repeat scroll 0 0;
    border-radius: 20px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.4);
    margin: 10px;
    padding: 10px;
}
.cartPosition .productimages {
    float: left;
    width: 100px;
}
.cartPosition .quantityAction {
    float: left;
    text-align: center;
    width: 80px;
}
.cartPosition .quantityAction .quantityContainer {
    padding: 5px 0;
}
.cartPosition .quantityAction .quantity {
    background-color: #ffffff;
    border: 1px solid #f07b0e;
    color: #000000;
    display: inline;
    margin-left: 1px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 3px;
}
.cartPosition .positionDetail {
    float: left;
    width: 55%;
}
.cartPosition .positionDetail .positionTitle {
    font-size: 12px;
}
.cartPosition .positionDetail .positionCode {
    font-size: 10px;
}
.cartPosition .positionPrice {
    float: left;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 150px;
}
.cartPosition .deleteAction {
    float: left;
    text-align: center;
    width: 65px;
}
.cartPosition .deleteAction .delete {
    padding: 5px;
}
.cartBottom {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #919191, #646464) repeat scroll 0 0;
    margin-left: auto;
    width: 50%;
}
.cartBottom .totalCart {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}
.cartBottom .actionButton {
    padding-top: 20px;
}
.addressBoxContainer {
    padding-bottom: 5px;
}
.addressBoxContainer .addressBox {
    padding: 10px;
}
.addressBoxContainer .addressBox .addressPhone, .addressBoxContainer .addressBox .addressFax, .addressBoxContainer .addressBox .addressEmail {
    font-weight: bold;
}
.addressBoxContainer .addressBox .addressName {
    color: #f07b0e;
}
.addressBoxContainer .addressBox .phoneLabel, .addressBoxContainer .addressBox .faxLabel, .addressBoxContainer .addressBox .emailLabel {
    color: #f07b0e;
    display: inline-block;
}
.contactContainer {
    border-radius: 0 10px 0 0;
    padding: 0 20px 20px;
}
.contactContainer .contactBlock {
    margin-bottom: 10px;
    margin-top: 10px;
}
.contactContainer .contactBlock .contact {
    margin-left: 20px;
}
.addressContainer {
    border-radius: 0 10px 0 0;
    padding: 0 20px 20px;
}
.addressContainer .addressBlock {
    margin-bottom: 10px;
    margin-top: 10px;
}
.addressContainer .addressBlock .address {
    margin-left: 20px;
}
.addressContainer .addresses table {
    margin-bottom: 0;
}
.addressContainer .addresses table th {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #919191, #646464) repeat scroll 0 0;
}
.addressContainer .addresses table th.actionColumn {
    text-align: center;
    width: 30px;
}
.addressContainer .addresses table, .addressContainer .addresses table tr {
    border: 1px solid #646464;
    border-collapse: collapse;
}
.addressContainer .addresses table tr td {
    vertical-align: top;
}
.addressContainer .addresses .actionAddress div {
    text-align: center;
}
.addressContainer .addresses .profileDefaultAddress {
    text-align: center;
}
.addressContainer .addresses .setShippingAction images, .addressContainer .setBillingAction images {
    opacity: 0.3;
}
.addressContainer .addresses .setShippingAction:hover images, .addressContainer .addresses .setBillingAction:hover images {
    opacity: 1;
}
.profileContainer {
    border-radius: 0 10px 0 0;
    padding: 0 20px 40px;
}
.profileContainer .fieldContainer {
    display: inline-block;
    text-align: left;
}
.loginBoxContainer {
}
.loginBoxContainer .createContactLabel {
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
.loginBoxContainer form {
    padding-left: 10px;
}
.loginBoxContainer .forgetPasswordLink a {
    display: block;
    font-size: 10px;
    padding-left: 10px;
}
.loginBoxContainer .submitButton {
    margin-top: 20px;
}
.loginBoxContainer .contactMenuContainer ul {
    list-style-type: none;
    margin-left: 50px;
}
.loginBoxContainer .contactMenu ul li {
    padding-left: 10px;
}
.loginBoxContainer .contactMenu ul ul li {
    padding-left: 20px;
}
.loginBoxContainer .contactMenu ul ul ul li {
    padding-left: 30px;
}
.loginBoxContainer .contactMenu ul ul ul ul li {
    padding-left: 40px;
}
.loginBoxContainer .contactMenu ul {
    list-style-type: none;
    margin-left: 0;
}
.loginBoxContainer .contactMenu li {
    padding-bottom: 2px;
    padding-top: 2px;
}
.loginBoxContainer .contactMenu li a {
    color: #ffffff;
}
.loginBoxContainer .contactMenu li.selected a {
    color: #f07b0e;
    font-weight: bold;
}
.loginBoxContainer .contactMenu li.active a {
    color: #f07b0e;
    font-weight: bold;
}
.loginBoxContainer .contactMenu li:hover {
}
.loginBoxContainer .contactMenu li:hover a {
    color: #f07b0e;
    font-weight: bold;
}
.registrationContainer, .registrationContainer .registrationFlow {
    border-radius: 10px 10px 0 0;
}
.registrationContainer .registrationFlow {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #919191, #646464) repeat scroll 0 0;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.4);
}
.registrationContainer .registrationFlow li {
    height: 110px;
    width: 24%;
}
.registrationContainer form fieldset {
    margin-left: 50px;
}
