.categoryItem {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #ffffff 0%, #ffffff 60%, #cccccc 100%) repeat scroll 0 0;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #888888;
    float: left;
    height: 170px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 167px;
    cursor: pointer;
}
.categoryimages {
    padding-bottom: 10px;
    padding-top: 10px;
}
.categoryTitle .categoryName {
    color: #575656;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.categoryTitle .numberOfProd {
    color: #575656;
    font-size: 10px;
    text-decoration: none;
}
.shopContainer {
    padding-bottom: 3px;
    padding-left: 3px;
    padding-top: 3px;
}
.productItem {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #ffffff 0%, #ffffff 60%, #cccccc 100%) repeat scroll 0 0;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #888888;
    float: left;
    margin: 5px;
    padding: 5px;
    position: relative;
    width: 167px;
}
.shopContainer > .productItem:nth-child(3n+1) {
    clear: both;
}
.productItem .productImg {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}
.productItem .productImg img {
    vertical-align: middle;
}
.productItem .productInfo {
}
.productItem a {
    color: #575656;
    font-weight: inherit;
    text-decoration: none;
}
.productItem .productInfo .productTitle {
    font-size: 14px;
    font-weight: bold;
}
.productItem a:hover .productTitle, .productItem a:active .productTitle {
    color: #f07b0e;
}
.productItem .productInfo .productCode {
    display: inline;
    font-size: 10px;
}
.productItem .productInfo .productDescription {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 10px;
    word-wrap: break-word;
}
.productItem .productVariant {
    padding-bottom: 60px;
}
.productItem .productVariant ul {
    list-style-type: none;
}
.productItem .productVariant ul li {
    border: 1px solid #575656;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
    display: inline-block;
    font-size: 10px;
    margin: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
.productItem .productVariant ul li a {
    color: #000000;
}
.productItem .productVariant ul li.available:hover {
    background-color: #f07b0e;
    border-color: #f07b0e;
}
.productItem .productVariant ul li.available:hover a {
    color: #000000;
}
.productItem .productVariant ul li.active {
    background-color: #f07b0e;
    border-color: #f07b0e;
}
.productItem .productVariant ul li.active a {
    color: #000000;
}
.productItem .productVariant ul li.disabledLink {
    border-color: #999999;
}
.productItem .productVariant ul li.disabledLink a {
    color: #999999;
}
.productItem .productPrice {
    color: #f07b0e;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: left;
    vertical-align: 100%;
}
.productItem .productAction {
    bottom: 0;
    position: absolute;
    text-align: right;
    width: inherit;
}
.productItem .productAction .productBuy {
    display: none;
    padding-bottom: 10px;
    padding-left: 10px;
}
.productDetail {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #cccccc 0%, #ffffff 60%, #ffffff 100%) repeat scroll 0 0;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #888888;
    margin: 20px;
    padding: 10px;
}
.productDetail .productTitle {
    color: #f07b0e;
    font-size: 18px;
    font-weight: bold;
    padding-left: 40px;
}
.productDetail .productCode {
    font-size: 10px;
    padding-left: 30px;
}
.productDetail .productDescription {
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: justify;
    white-space: pre-wrap;
}
.productDetail .productimages {
    float: left;
    margin-top: 10px;
    padding-left: 10px;
}
.productDetail .productimages images {
    vertical-align: top;
}
.productDetail .productPrices {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #ffffff 0%, #ffffff 60%, #cccccc 100%) repeat scroll 0 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
    float: right;
    margin-top: 10px;
    padding: 10px;
    width: 50%;
}
.productDetail .productVariant {
}
.productDetail .productVariant ul {
    list-style-type: none;
}
.productDetail .productVariant ul li {
    border: 1px solid #575656;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
    display: inline-block;
    font-size: 10px;
    margin: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
.productDetail .productVariant ul li a {
    color: #000000;
}
.productDetail .productVariant ul li.available:hover {
    background-color: #f07b0e;
    border-color: #f07b0e;
}
.productDetail .productVariant ul li.available:hover a {
    color: #000000;
}
.productDetail .productVariant ul li.active {
    background-color: #f07b0e;
    border-color: #f07b0e;
}
.productDetail .productVariant ul li.active a {
    color: #000000;
}
.productDetail .productVariant ul li.disabledLink {
    border-color: #999999;
}
.productDetail .productVariant ul li.disabledLink a {
    color: #999999;
}
.productDetail .productPrices .productPrice {
    color: #f07b0e;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 20px;
}
.productDetail .productPrices .productBuy {
    display: none;
    float: right;
    margin-right: 20px;
    text-align: right;
}