<div id="categoryMenuContainer" class="container containerWithTitle">
    <div class="titleContainer">
        <div class="titleLeft">&nbsp;</div>
        <div class="titleCenter">
            <div class="titleText">Shop</div>
        </div>
        <div class="titleRight">&nbsp;</div>
        <div class="clearOnly"></div>
    </div>
    <div id="categoryMenu">
        <ul>
            <li *ngFor="let category of categories" (click)="onSelect(category)">
                <a [routerLink]="['/shop/category', category.id]" [class.selected]="category.id === shopService.selectedCategory.id">{{category.title.name}}</a>
                <ul *ngIf="shopService.selectedCategory && category.sub_categories && (category.id === shopService.selectedCategory.id || category.id === shopService.selectedCategory.parent_id)">
                    <li *ngFor="let subCategory of category.sub_categories" (click)="onSelect(subCategory); $event.stopPropagation();">
                        <a [routerLink]="['/shop/category', subCategory.id]" [class.selected]="subCategory.id === shopService.selectedCategory.id">{{subCategory.title.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>