<div class="shopContainer container">

    <div *ngFor="let categoryElement of categoryElements" class="categoryItem">
        <a [routerLink]="['/shop/category', categoryElement.id]">
            <div class="categoryImg">
                <img title="{{categoryElement.title.name}}-({{categoryElement.id}})"
                        alt="Cadres de tchoukball"
                        src="categoryImages/{{categoryElement.title.image_filename}}"
                        onError="this.onerror=null;this.src='categoryImages/noCategoryImage.jpg';"
                        width="100px" />
            </div>
            <div class="categoryTitle">
                <div class="categoryName">{{categoryElement.title.name}}</div>
                <div class="numberOfProd">({{categoryElement.nb_products}}&nbsp;<ng-container i18n>{categoryElement.nb_products, plural, =0 {Produit} =1 {Produit} other {Produits}}</ng-container>)</div>
            </div>
        </a>
    </div>
    
    <div *ngFor="let productElement of productElements" class="productItem" style="height: 334px;">
        <div class="productImg">
            <img width="100" src="productImages/{{productElement.code}}_photoppale.jpg" 
                    alt="{{productElement.title.title}}" 
                    title="{{productElement.title.title}}">
        </div>
        <div class="productInfo">
            <div class="productTitle">{{productElement.title.title}}</div>
            Réf: <div class="productCode">{{productElement.code}}</div>
            <div class="productDescription">{{productElement.title.small_description | slice:0:50}}</div>
        </div>

        <div class="productAction">
            <div class="productPrice"> X.xx chf </div>
        </div>
    </div>
    
    <div class="clearOnly">&nbsp;</div>
</div>